<p id="notice"><%= notice %></p>

<%= link_to 'Create New User', new_user_path %>

<table>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><strong>First name</strong></td>
        <td><%= user.first_name %></td>
      </tr>
      <tr>
        <td><strong>Last name</strong></td>
        <td><%= user.last_name %></td>
      </tr>
      <tr>
        <td><strong>Password</strong></td>
        <td><%= user.password %></td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td><strong>Receive news</strong></td>
        <td><%= user.receive_news %></td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Show', user %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
